@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 33, 33, 33;
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 245, 245, 245;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb)); */
}

/* Font family variables */
.font-poppins {
  font-family: var(--font-poppins), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}

.font-roboto {
  font-family: var(--font-roboto), sans-serif;
}

/* Animation for marquee */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

